<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="glgc.jjgys.system.mapper.JjgLqsJgSdMapper">

    <resultMap id="sdMap" type="glgc.jjgys.model.project.JjgLqsJgSd">
        <result column="name" property="sdname"/>
    </resultMap>

    <select id="selectsdList" resultMap="sdMap" parameterType="java.lang.String">
        SELECT * FROM jjg_lqs_jg_sd where proname = #{proname} and zhq >=#{zhq} and zhz &lt;= #{zhz} and zdbz=#{bz} and wz=#{wz} and lf=#{zdlf} ORDER BY zhq
    </select>

</mapper>
